# pipeline inputs/outputs (too large for git)
/input/
/output/

# downloaded resources (reference genome, indexes, singularity images, delly files)
/resources/reference/
/resources/singularity/
/resources/delly/
# keep the README
!/resources/README.md

# snakemake internals
.snakemake/

# python
__pycache__/
*.pyc

# ignore Claude
CLAUDE.md


# ignore logs
/logs

# ignore the rare disease pipeline
/raredisease-2.6.0.zip